<%- include('./partials/headLogo') %>
    <main>
        <section>
            <h1>Painel Administrativo</h1>
            <h4>Painel Cadastrar</h4>
            <div>
                <a href="/record/cat/category"><button type="submit" class="btn-btn-primary">Cadastrar Categorias</button></a>
                <a href="/record/prod/product"><button type="submit" class="btn-btn-primary">Cadastrar Produtos</button></a>
                <a href="/record/user/user"><button type="submit" class="btn-btn-primary">Cadastrar Usuários</button></a>
            </div>
            <h4>Painel Alterações</h4>
            <div>
                <a href="/actionChange/cat/categoryActionChange"><button type="submit" class="btn-btn-primary">Alterar Categorias</button></a>
                <a href="/actionChange/prod/productActionChange"><button type="submit" class="btn-btn-primary">Alterar Produtos</button></a>
                <a href="/actionChange/user/userActionChange"><button type="submit" class="btn-btn-primary">Alterar Usuários</button></a>
            </div>
        </section>
    </main>
<%- include('./partials/footer') %>