<%- include('./partials/headLogo') %>
    <main>
        <section>
            <h1>Para inserção de categorias</h1>

            <form action="/record/cat/recorded" method="post">
                <div>
                    <label class="form-label" for="category_opt_singular-id">Categoria Singular</label>
                    <input type="text" class="form-control" name="category_opt_singular" id="category_opt_singular-id" placeholder="Tipo de item ex. 'Caneca'">
                </div>
                <div>
                    <label class="form-label" for="category_opt_plural-id">Categoria Plural</label>
                    <input type="text" class="form-control" name="category_opt_plural" id="category_opt_plural-id" placeholder="Tipo de item ex. 'Canecas'">
                </div>
                <button type="submit" class="btn-btn-primary">Cadastrar</button>
            </form>
            <a href="/adm/admPage/show"><button type="submit" class="btn-btn-primary">Voltar</button></a>
        </section>
    </main>
<%- include('./partials/footer') %>