<%- include('./partials/headLogo') %>
    <main>
        <section>
            <h1>Produto gravado com sucesso</h1>
            <a href="/record/prod/product"><button type="submit" class="btn-btn-primary">Voltar</button></a>
        </section>
    </main>
<%- include('./partials/footer') %>